---
const { classes = "" } = Astro.props;
const { href = "" } = Astro.props;
const { target = "" } = Astro.props;
---
<!-- h y w para modificar size del boton -->
<div>
    <a href={`${href}`} target={`${target}`} >
        <button class={` rounded-full flex items-center justify-center ${classes}`} onclick="">
            <slot />
        </button>
    </a>
</div>
