---
import Spotify from "@/icons/Spotify.astro";
import ButtonRounded from "./ButtonRounded.astro";
---

<header>
    <nav class="flex justify-between items-center p-4">
        <ul class="list-none flex gap-4">
            <li><a href="/"><Spotify classes="fill-white"/></a></li>
            <li>
                <div>
                    
                </div>
            </li>
        </ul>
    </nav>
</header>